body {
  font-size: 15px;
  font-family: Arial;
  color: #ebebeb;
	background: #7e929f;
}
.container {
	width: 960px;
	margin: auto;
}
.bio-container {
}
.bio {
	background: #005f98;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 20px;
}
.bio h1 {
	padding: 0;
	margin: 0;
}
.panel-heading {
	background: #60849a;
	margin-top: 20px;
	padding: 20px;
	border-radius: 6px;
	font-size: 18px;
	font-weight: bold;
}
.projects-container {
}
.projects {
	background: #6b8da1;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 20px;
	border-radius: 6px;
}
.last {
	margin-right: 0 !important;
}
.project-container {
	background: #3c779a;
	min-height: 200px;
	border-radius: 6px;
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.project {
	padding: 20px;
}

.project-heading {
	font-size: 16px;
	font-weight: bold;
	margin-bottom:10px;
}
.project-description {
	font-size: 11px;
	margin-bottom: 20px;
	height: 52px;
}
.project-screenshot {
	width: 238px;
	height: 158px;
	border: 1px solid #6b8da1;
	opacity: 0.8;
}
.project:hover .project-screenshot {
	opacity: 1;
}

.kaleistyleguide {
	background: url("../img/kaleistyleguide.png");
}
.backboneboilerplate {
	background: url("../img/backboneboilerplate.png");
}
.backbonetutorials {
	background: url("../img/backbonetutorials.png");
}
.cdnjs {
	background: url("../img/cdnjs.png");
}
.protosal {
	background: url("../img/protosal.png");
}