<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name="readability-verification" content="vy47hkYexnjBxYJ62n4NseCxGUkPza7UP3enFJa3"/>
   <title>Thomas Davis</title>   <meta name="author" content="Thomas Davis" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>

<div class="container">
	    <div class="header span-20 push-1">
      <div class="span-14">
        <h1><a href="http://thomasdavis.github.com">Thomas Davis - Front End Developer</a></h1>
    <a href="https://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
    </div>
  <div class="wrapper span-22 push-1">

    <div class="page span-20 push-1">
{{ content }}
  </div>

</div>




  
</div>


    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
 
    <script src="http://static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66379121); }catch(err){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66379121ns.gif" /></p></noscript>
    
<script type='text/javascript'>
var _glc =_glc || [];
_glc.push('ag9jb250YWN0dXN3aWRnZXRyDwsSB3dpZGdldHMYq7ZNDA');
var glcpath = (('https:' == document.location.protocol) ? 'https://contactuswidget.appspot.com/livily/browser/' : 'http://gae.clickdesk.com/livily/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; glcspt.async = true;glcspt.src = glcpath + 'livechat.js';
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
</script>    
</body>
</html>
