<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name="readability-verification" content="vy47hkYexnjBxYJ62n4NseCxGUkPza7UP3enFJa3"/>
   <title>Thomas Davis</title>   <meta name="author" content="Thomas Davis" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>

<div class="container">
	    <div class="header span-20 push-1">
      <div class="span-14">
        <h1><a href="http://thomasdavis.github.com">Thomas Davis - Front End Developer</a></h1>
    <a href="https://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
    </div>
  <div class="wrapper span-22 push-1">

    <div class="page span-20 push-1">
{{ content }}
  </div>

</div>




  
</div>

<a title="Real Time Web Analytics" href="http://clicky.com/100641309"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100641309); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100641309ns.gif" /></p></noscript>
</body>
</html>
